<template>
  <q-form @submit="login()">
    <q-input
      type="email"
      :rules="[validate]"
      color="primary"
      v-model="form.email"
      label="Email"
      label-color="white"
    />

    <q-input
      type="password"
      :rules="[
        val => val.length > 6 || 'Seu password deve ter mais de 6 caracteres',
        val => val.length < 50 || 'Seu password deve ter mais de 50 caracteres'
      ]"
      color="primary"
      v-model="form.password"
      label="Senha"
      label-color="white"
    />

    <q-btn
      unelevated
      color="primary"
      type="submit"
      :loading="loader"
      rounded
      label="Login"
      class="full-width q-m-md mt-5"
    />
  </q-form>
</template>

<script>
import { SessionStorage } from 'quasar';

export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      loader: false,
    };
  },

  methods: {
    login() {
      this.loader = true;
      this.$q.loading.show();
      this.$axios
        .post("api/login", this.form)
        .then((res) => {
          if (res.data.status) {
            this.$router.push("/profile");
          }

          this.$q.sessionStorage.set('user', {name: res.data.name});

          this.$q.notify({
            message: res.data.message,
            position: "top",
            color: res.data.status ? "green" : "red",
          });
        })
        .catch((err) => {
          this.$q.notify({
            message: "Erro ao realizar login! Tente novamente",
            position: "top",
            color: "red",
          });
        })
        .finally(() => {
          this.$q.loading.hide();
          this.loader = false;
        });
    },
    validate(val) {
      if (val.length > 6) {
        return true;
      } else {
        return "Você deve ter mais de 6 caracteres";
      }
    },
  },
};
</script>

<style>
</style>
